<%= render 'welcome/navbar' %> 
<div style="width: 80%; margin: 20px" class="m-auto">
    <h1 style="text-align: center">Reservacion</h1>
    <br>

    <form class="needs-validation" novalidate action="/reservas" accept-charset="UTF-8" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="form-group field">
          <label for="reserva_nombreCliente">Nombre</label>
          <input type="text" class="form-control" id="reserva_nombreCliente" placeholder="Ej: Rosa Vaca" title="Nombre" pattern="[a-zA-Z]{3,20}" name="reserva[nombreCliente]" required>

          <div class="invalid-feedback">Falta nombre.</div>
          <div class="valid-feedback">Parece correcto!</div>
        </div>

        <div class="form-group field">
          <label for="reserva_cedulaCliente">Cedula</label>
          <input type="text" class="form-control" id="reserva_cedulaCliente" placeholder="Ej: 001-123456-789A" pattern="\d{3}-?\d{6}-?\d{4}[a-zA-Z]{1}" title="Cedula de Identidad" required name="reserva[cedulaCliente]">
          <div class="invalid-feedback">Falta cedula.</div>
          <div class="valid-feedback">Parece correcto!</div>
        </div>

        <div class="form-group field">
          <label for="reserva_celular">Celular</label>
          <input type="text" class="form-control" id="reserva_celular" placeholder="Ej: 12345678" pattern="[8|5][0-9]{7}" title="Numero telefonico" required name="reserva[celular]">

          <div class="invalid-feedback">Falta numero telefonico.</div>
          <div class="valid-feedback">Parece correcto!</div>
        </div>

      <div class="form-group field">
          <label for="reserva_correo">Correo electronico</label>
          <input type="email" class="form-control" id="reserva_correo" placeholder="Ej: name@example.com" title="Email" name="reserva[correo]">
      </div>

      
        <div class="form-group field">
          <label for="reserva_estado_id">Numero habitacion</label>
          <input type="text" class="form-control" id="reserva_estado_id" placeholder="Ej: 3" title="Numero Habitacion" pattern="[1-9](\d{1})?" required name="reserva[estado_id]">
          <div class="invalid-feedback">
              Falta numero habitacion.
          </div>
          <div class="valid-feedback">
            Parece correcto!
          </div>
        </div>

        <div class="actions">
          <input type="submit" name="commit" value="Create Reserva" class="btn btn-primary" data-disable-with="Crear Reserva" />
      </div>
    </form>
  </div>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>