<p id="notice"><%= notice %></p>

<h1>Reservas</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Nombrecliente</th>
      <th>Cedulacliente</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Numerodias</th>
      <th>Totalpagar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.estado_id %></td>
        <td><%= reserva.nombreCliente %></td>
        <td><%= reserva.cedulaCliente %></td>
        <td><%= reserva.celular %></td>
        <td><%= reserva.correo %></td>
        <td><%= reserva.numeroDias %></td>
        <td><%= reserva.totalPagar %></td>
        <td><%= link_to 'Show', reserva %></td>
        <td><%= link_to 'Edit', edit_reserva_path(reserva) %></td>
        <td><%= link_to 'Destroy', reserva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserva', new_reserva_path %>
