<%= render 'welcome/navbar'%>

<div style="margin: 20px;">
    <div class="row">
      <div class="col-md-10">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">N° Habitacion</th>
              <th scope="col">Nombre Cliente</th>
            </tr>
          </thead>
          <tbody>
            <% @reservas.each do |reservas| %>
              <tr>
                <th scope="row"><%= reservas.estado_id %></th>
                <td><%= reservas.nombreCliente %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>