
<%content_for :header do %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/reservas/new">Reservar Habitación</a>
          <a class="dropdown-item" href="/liberar">Liberar Reservación</a>
          <a class="dropdown-item" href="/mostrarDisp">Listar Habitaciones Disponibles</a>
          <a class="dropdown-item" href="/listarH_todas">Listar Habitaciones</a>
          <a class="dropdown-item" href="/mostrarReservas">Listar Reservacines</a>
          <a class="dropdown-item" href="/fotos">Ver Fotos</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<% end %>