

@import "bootstrap";

body{
	height: 100vh;
	background-image: asset-url("hotel.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
}