// Place all the styles related to the Estados controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2{
	color: white;
}

#Uni{
    position: absolute;
    height: 400px;
    width: 50%;
}

.d1{
    left: 200px;
}

.d2{
    left: 600px;
}

.d3{
    top: 300px;
    left: 200px;
}

.d4{
    top: 300px;
    left: 600px;
}

#ImagUni {
    position: relative;
    background-image: asset-url("unipersonal.jpg");
    height: 200px;
    width: 50%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
}

#ImagDob {
    position: relative;
    background-image: asset-url("doble.jpg");
    height: 200px;
	width: 50%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
}

#ImagFam {
    position: relative;
    background-image: asset-url("familiares.jpg");
    height: 200px;
	width: 50%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center;
}

#ImagSui {
    position: relative;
    background-image: asset-url("suite.jpg");
    height: 200px;
	width: 50%;
	background-repeat: no-repeat;	
    background-size: cover;
    background-position: center; 
}