<%= form_with(model: estado, local: true) do |form| %>

  <div class="field">
    <%= form.label :estado %>
    <%= form.number_field :estado %>
  </div>

  <div class="field">
    <%= form.label :tipoHabitacion %>
    <%= form.text_field :tipoHabitacion %>
  </div>

  <div class="field">
    <%= form.label :precioNoche %>
    <%= form.text_field :precioNoche %>
  </div>

  <div class="field">
    <%= form.label :personasHabitacion %>
    <%= form.number_field :personasHabitacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
