<div style="width: 80%; margin: 20px;" class="m-auto">
  <h1 style="text-align: center">Liberar Reservacion</h1>
  <%= form_with(model: estado, local: true) do |form| %>
  <% if estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estado.errors.count, "error") %> prohibited this estado from being saved:</h2>

      <ul>
        <% estado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <label for="estado_estado">Numero Habitacion</label>

      <%= form.text_field :estado, :placeholder=> "Ej: 3", :title=> "Numero Habitacion", :pattern=> "[1-9](\d{1})?", :class=> "form-control", :value=> "0"%>
    </div>

  </div>
  <div class="actions">
      <button type="submit" class="btn btn-primary" name="commit" value="Update Estado" data-disable-with="Update Estado" >Submit</button>
    </div>
<% end %>
</div>