<%= stylesheet_link_tag 'estados', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'welcome/navbar'%>

<div id="Uni" class="d1">
    <div ><h2>Habitación Unipersonal</h2></div>
    <div id="ImagUni"></div>
</div>

<div id="Uni" class="d2">
    <div><h2>Habitación Doble</h2></div>
    <div id="ImagDob"></div>
</div>

<div id="Uni" class="d3">
    <div><h2>Habitación Familiar</h2></div>
    <div id="ImagFam"></div>
</div>

<div id="Uni" class="d4">
    <div><h2>Habitación Suite</h2></div>
    <div id="ImagSui"></div>
</div>