<%= render 'welcome/navbar' %> 

<p id="notice"><%= notice %></p>

<h1>Estados</h1>
<table>
  <thead>
    <tr>
      <th>Habitacion</th>
      <th>Estado</th>
      <th>Tipohabitacion</th>
      <th>Precionoche</th>
      <th>Personashabitacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estados.each do |estado| %>
      <tr>
        <td><%= estado.id %></td>
        <td><%= estado.estado %></td>
        <td><%= estado.tipoHabitacion %></td>
        <td><%= estado.precioNoche %></td>
        <td><%= estado.personasHabitacion %></td>
        <td><%= link_to 'Show', estado %></td>
        <td><%= link_to 'Edit', edit_estado_path(estado) %></td>
        <td><%= link_to 'Destroy', estado, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado', new_estado_path %>
