<%= render 'welcome/navbar' %>
<div style="width: 80%; margin: 20px;" class="m-auto">
	<h1 style="text-align: center">Liberar Reservacion</h1>

	<form class="needs-validation" novalidate action="/liberaH" method="get " accept-charset="UTF-8">
		
		<div class="form-group">
	    	<label for="nH">Numero Habitacion</label>
	    	<input type="text" class="form-control" id="nH" placeholder="Ej: 3" title="Numero Habitacion" pattern="[1-9](\d{1})?" required name="nH">
    	</div>
    	<button type="submit" class="btn btn-primary">Submit</button>
    </form>


	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
		  'use strict';
		  window.addEventListener('load', function() {
		    // Fetch all the forms we want to apply custom Bootstrap validation styles to
		    var forms = document.getElementsByClassName('needs-validation');
		    // Loop over them and prevent submission
		    var validation = Array.prototype.filter.call(forms, function(form) {
		      form.addEventListener('submit', function(event) {
		        if (form.checkValidity() === false) {
		          event.preventDefault();
		          event.stopPropagation();
		        }
		        form.classList.add('was-validated');
		      }, false);
		    });
		  }, false);
		})();
	</script>

</div>