<%= render 'welcome/navbar'%>

<div style="margin: 20px;">
    <div class="row">
      <div class="col-md-10">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">N° Habitacion</th>
              <th scope="col">Tipo Habitacion</th>
              <th scope="col">Precio x Dia</th>
              <th scope="col">Capacidad</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <% @estados.each do |estado| %>
              <tr>
                <th scope="row"><%= estado.id %></th>
                <td><%= estado.tipoHabitacion %></td>
                <td>$ <%= estado.precioNoche %></td>
                <td><%= estado.personasHabitacion %></td>

                <%if estado.estado == 0%>
                  <td>Disponible</td>  
                <%else%>
                  <td>Ocupada</td>  
                <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <a href="/liberar" class="btn btn-primary">Liberar</a>
        <a href="/reservas/new" class="btn btn-primary">Reservar</a>
      </div>
    </div>
</div>